* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 4.6rem 3.2rem;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  margin: 0 auto;
}
header {
  display: flex;
  background-color: #fdf2e9;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0rem 3.2rem;
}
.logo {
  height: 2.4rem;
}

/* navigation */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.4s;
}
.main-nav-link:hover {
  color: rgb(226, 170, 64);
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  color: #fff;
  padding: 0rem 3.2rem;
  border-radius: 9px;
  background-color: rgb(226, 170, 64);
  padding: 1.2rem 2.4rem;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: rgb(128, 106, 69);
  box-shadow: inset 0 0 0 1px #fff;
}
.hero-img {
  width: 100%;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: background-color 0.5s;
}
.btn--full:link,
.btn--full:visited {
  background-color: rgb(226, 170, 64);
}
.btn--outline:link,
.btn--outline:visited {
  background-color: rgb(190, 186, 180);
}

.btn--full:hover,
.btn--full:active {
  background-color: rgb(128, 106, 69);
  box-shadow: inset 0 0 0 1px #fff;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: rgb(100, 98, 95);
  box-shadow: inset 0 0 0 1px #fff;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.2rem;
  border: 2px solid #fff;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-imgs img:last-child {
  margin-right: 0rem;
}
.delivered-text span {
  color: rgb(244, 191, 94);
}

/* Reusable grid */
.grid {
  display: grid;
  gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.container {
  /* background-color: red; */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 9.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img {
  width: 32%;
}

.heading-secondary,
.heading-tertiary {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
span {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  display: block;
  font-weight: 600;
  color: #666;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before {
  content: "";
  display: block;
  background-color: #fdf2e9;
  width: 60%;
  height: 65%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -3;
}
.step-img-box::after {
  content: "";
  display: block;
  background-color: #ccb7ad;
  width: 45%;
  height: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.center-text {
  text-align: center;
}

/* MEALS  SECTION*/
.meal-img {
  width: 100%;
}
.margin-bottom-md {
  margin-bottom: 6.2rem;
}
.margin-bottom-sm {
  margin-bottom: 3.6rem;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.4rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.6rem;
}
.tag {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 20px;
  font-weight: 600;
  background-color: #51cf66;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes,
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.meal-attribute,
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-icon,
.list-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
li span {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  display: block;
  font-weight: 600;
  color: #666;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
.heading-tertiary {
  padding-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #666;
}
.tag--vegan {
  background-color: #82cd8f;
}
.tag--paleo {
  background-color: #e49b5c;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  border-bottom: 1px solid transparent;
}

/* TESTIMONIALS */
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  /* align-items: center; */
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
  transition: all 0.4s;
  overflow: hidden;
}
.testimonial-img:hover {
  transform: scale(1.1);
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
.gallery-item {
  overflow: hidden;
}
.testimonials-container {
  padding: 9.6rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* pricing SECTION */
.section-pricing {
  padding: 9.6rem 0;
}

.princing-plan {
  border-radius: 11px;
  width: 75%;
}
.princing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
  background-color: #d2d2d2;
}
.princing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.princing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 7%;
  right: -23%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 10rem;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 12.8rem 0 12.8rem;
  border-top: 1px solid rgb(215, 211, 211);
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  /* padding: 2rem; */

  background-image: linear-gradient(to right bottom, #e5e3df, #99826b);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(145, 143, 142, 0.35),
      rgba(184, 156, 131, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all 0.4s;
}
.cta-img-box:hover {
  transform: scale(1.08);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}
.btn--form {
  color: #fdf2e9;
  align-self: end;
  padding: 1.3rem;
  background-color: #4c4947;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.4s;
}

.btn--form:hover {
  color: #d2ac8d;
  background-color: #3c3937;
  font-size: 2rem;
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid rgb(215, 211, 211);
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: rgb(47, 45, 45);
}
